html, body {
  height: 100%;
  overflow: hidden;
}

.search-page, .popout {
  height: 100%;
  overflow: scroll;
}

.search-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 5;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-form input, .search-form button, .list-group a {
  border-radius: 0 !important;
}

.search-results { padding-top: 45px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.popout {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 85%;
  background: white;
  box-shadow: -3px -1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
}

.popout.show { right: 0; }
.popout.behind { right: 15%; }

h4 {
  margin: 0;
  padding: 0.5em 15px;
  color: white;
  background: #3776b1;
  border: 1px solid #285e8e;
}

h2 {
  margin: 0;
  padding: 0.5em 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
