html, body {
  height: 100%;
}

.search-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 99;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-form input, .search-form button {
  border-radius: 0;
}

.search-results {
  border-radius: 0;
  padding-top: 45px;
  height: 100%;
  overflow: scroll;
}

li {
  border-radius: 0 !important;
}

.artist-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: green;
}
